/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #957dad;
  --secondary-color: rgba(43, 28, 58, 0.7);
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--primary-font);
  padding: 50px 20px 0 20px;
  font-size: 62px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px;
  font-family: var(--secondary-font);
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h4 {
  font-family: var(--secondary-font);
}

p {
  font-family: var(--secondary-font);
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

footer i {
  color: var(--primary-color);
  font-size: 16px;
  background: white;
  padding: 10px;
  border-radius: 100%;
  margin: 10px 15px;
}

.hero-picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/pic/hero-picture-1.jpg);
  background-size: 100%;
  background-position: top;
  height: 290px;
  background-attachment: fixed;
  margin: 0;
}

.profile-pic {
  max-width: 200px;
  border-radius: 50%;
  padding: 0px;
}

.project-picture {
  background-color: rgb(149, 125, 173, 0.3);
  text-align: center;
  padding: 20px;
  max-height: 515px;
}

.project-picture-jpg {
  max-height: 450px;
  max-width: 430px;
}

.hero-text {
  color: white;
  text-align: center;
  font-family: var(--secondary-font);
}

.btn-primary {
  font-size: 14px;
  padding: 12px 22px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-view-project {
  font-size: 14px;
  padding: 12px 22px;
  text-align: center;
  font-family: var(--secondary-font);
  border-color: var(--primary-color);
}

.footer-background {
  background-color: rgb(149, 125, 173, 0.3);
}

.btn-primary:hover,
.btn-view-project:hover {
  background-color: rgb(149, 125, 173, 0.3);
  border-color: var(--primary-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    margin-bottom: 0;
  }

  footer {
    font-size: 12px;
    margin-top: 30px;
  }

  footer i {
    font-size: 14px;
    padding: 8px;
    margin: 8px 10px;
  }

  .profile-pic-description {
    text-align: center;
    padding-top: 0 !important;
  }

  .btn {
    font-size: 12px;
  }

  .project-information {
    text-align: center;
    padding-bottom: 0 !important;
  }

  .row {
    margin-top: 0 !important;
  }
}
